{% load static %}

 <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>{{ title }} - MongoDB Health Checker</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    <link rel="stylesheet" href="{% static "css/app.css" %}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto+Slab:400,700" rel="stylesheet">
</head>