{% extends "layout/dashboard/main.html" %}
{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-12">
                <div class="container content">
                    <i class="is-large fab fa-discord"></i>
                    <i class="is-large fas fa-code"></i>
                    <h1 class="title">MongoDB Health Checker</h1>
                    <h3 class="subtitle">
                        MongoDB Sharded Cluster Monitoring with Django and Docker Compose
                    </h3>
                    <a href="https://github.com/dansup/bulma-templates" target="_blank" class="button is-primary is-large">
                        <b-icon icon="github-circle"></b-icon>
                        <span>Github</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <replicas-index></replicas-index>
    </div>
</section>
<footer class="footer">
    <section class="section">
        <div class="container">
            {% now "Y" %} - Hakan Kurtulus
        </div>
    </section>
{% endblock %}